.footer {
    text-decoration: solid;
    width: 100%;
    display: block;

    font-family: 'Gill Sans';
    font-size: medium;
}

.footer_light {
    background-color: rgb(209, 0, 0);
    color: #333;
}

.footer_dark {
    background-color: rgb(94, 0, 0);
    color: rgb(255, 255, 255);
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5px;
}

.sponsors {
    text-align: center;

    padding: 5px;
}

.sponsors h1 {
    border-bottom: solid 1px;
}

.footer_contacts p {
    margin: 5px;
}

.footer_social_media {
    display: flex;
}

.social_media_link {
    margin: 5px;
}

.footer_dev {
    font-size: small;
    padding-left: 5px;

    font-family: 'Times New Roman';
}

.footer_dev_light {
    background-color: rgb(88, 0, 0);
    color: rgb(255, 255, 255);
}

.footer_dev_dark {
    background-color: rgb(56, 0, 0);
    color: rgb(255, 255, 255);
}