.nav_bar {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* LOGO  */

.nav_left img {
    height: 70px;
    width: 80px;
}

/* BARRA DE PESQUISA */

.nav_center {
    display: flex;
    align-items: center;
    /* background-color: black; */
    height: fit-content;
    min-width: fit-content;
    width: 40%;
}

/* .nav_filter {
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
    width: 80%;
} */

.select {
    cursor: pointer;
    background-color: white;
    appearance: none;
    padding: 5px;
    align-items: center;
    outline: none;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    height: 35px;
    min-width: fit-content;
    width: 27%;

    border-right: dashed 1px rgb(209, 209, 209);
}

.select_option {}

/* .select::selection {
    border: 0px;
    background-color: rgb(224, 224, 224);
} */

.select:focus,
.input:focus {
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
}

.select:hover,
.input:hover,
.button:hover {
    background-color: rgb(224, 224, 224);
    transition: .5s;
}

.input {
    height: 35px;
    /* border-left: 5px; */
    margin: 0px;
    padding: 5px;
    width: 63%;
    outline: none;
    /* border-radius: 50px; */
}

/* .input:focus {
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
} */

.button {
    background-color: white;
    height: 35px;
    padding: 5px;
    border-left: dashed 1px rgb(209, 209, 209);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;


    min-width: fit-content;
    width: 10%;
}


/* CATEGORIAS E OUTROS CAMPOS DA LISTA */
.nav_right {
    background-color: gray;
    height: 100%;
    /* align-content: center; */
    margin: 0px;
    border: 0px;
    padding: 0px;

    padding-left: 20px;
    padding-right: 20px;

}

.nav_list {
    display: flex;
    /* align-content: center; */
    /* margin: 0px;
    border: 0px;
    border-left: 10px;
    border-right: 10px; */
    /* border: solid 1px black; */
    height: 100%;
}

.nav_list_item {
    display: flex;
    /* align-content: center; */

    margin: 0px;
    /* background-color: blue; */
    /* border: solid 1px black; */
    color: black;


}

/* .nav_list_item select {
    cursor: pointer;
    background-color: gray;
    appearance: none;
    padding: 5px;
    align-items: center;
    outline: none;
    text-align: center;
}

.nav_list_item select::selection {
    border: 0px;
    background-color: gray;
}

.nav_list_item select:focus {
    background-color: lightgray;

}

.nav_list_item select:hover {
    background-color: lightgray;
    transition: .5s;
} */

.nav_list_item a {
    display: flex;
    align-items: center;

    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    text-decoration: none;

}

.nav_list_item a:hover {

    background-color: lightgray;
    transition: .5s;
}