.nav_bar {
    /* background-color: rgba(0, 0, 156, 0.452); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    flex-wrap: wrap;
}

.nav_bar_light {
    background-color: #eee;
    color: #333;
}

.nav_bar_dark {
    background-color: #333;
    color: #eee;
}

/* LOGO  */

.nav_left {
    /* min-width: fit-content; */
}

.nav_left img {
    height: 70px;
    width: 200px;
}

/* CAMPOS DO FILTRO */

.nav_center {
    display: flex;
    align-items: center;
    /* background-color: black; */
    height: fit-content;
    min-width: fit-content;
    width: 40%;
}

.select {
    height: 35px;
    min-width: fit-content;
    width: 27%;
    align-items: center;

    cursor: pointer;
    outline: none;
    appearance: none;

    padding: 5px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: dashed 1px rgb(209, 209, 209);
}

.input {
    height: 35px;
    width: 63%;

    outline: none;

    margin: 0px;
    padding: 5px;
}

.button {
    height: 35px;
    min-width: fit-content;
    width: 10%;

    padding: 5px;
    border-left: dashed 1px rgb(209, 209, 209);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav_center_itens_light {
    background-color: #333;
    color: #eee;
}

.nav_center_itens_light:focus:not(button) {
    background-color: rgb(95, 95, 95);
    transition: 0.5s;
}

.nav_center_itens_light:hover {
    background-color: rgb(95, 95, 95);
    transition: .5s;
}

.nav_center_itens_dark {
    background-color: #eee;
    color: #333;
}

.nav_center_itens_dark:focus:not(button) {
    background-color: rgb(172, 172, 172);
    transition: 0.5s;
}

.nav_center_itens_dark:hover {
    background-color: rgb(172, 172, 172);
    transition: .5s;
}

/* SOBRE O SITE, DARKMODE E LOGIN */
.nav_right {
    height: 100%;
    min-width: fit-content;

    margin: 0px;
    border: 0px;
    padding: 0px 5px 0px 5px;
}

.nav_list {
    display: flex;
    height: 100%;
}

.nav_list_item {
    height: 100%;
    display: flex;
    align-items: center;

    margin: 0px;
}

.nav_list_item button {
    height: 100%;

    padding: 5px 15px 5px 15px;
}

.nav_list_item a {
    padding: 5px 15px 5px 15px;
}

.nav_list_item:hover {

    cursor: pointer;

    border-radius: 40px;
    background-color: rgb(170, 170, 170);
    transition: .5s;
}

/* telas pequenas e laptops */
@media screen and (max-width: 960px) {
    .nav_bar {
        height: max-content;
    }

    .nav_bar {
        justify-content: space-around;
    }

    .nav_left {
        width: 200px;
    }

    .nav_center {
        width: 50%;

        margin: 5px;
    }

    .nav_right {
        width: 100%;
        display: flex;
        justify-content: center;

        background-color: rgba(0, 0, 156, 0.205);
    }

}

/* tablet e mobile */
@media screen and (max-width: 650px) {

    .nav_center {

        display: grid;
        grid-template-areas: "i i i" "s s l";
        min-width: fit-content;
        flex-grow: 1;
        width: auto;

        margin: 5px;
    }

    .select {
        order: 2;
        grid-area: s;
        width: 100%;

        border-radius: 0px 0px 0px 3px;
    }

    .input {
        order: 1;
        grid-area: i;
        width: 100%;
        height: 35px;

        border-radius: 3px 3px 0px 0px;
        border-bottom: dashed 1px rgb(209, 209, 209);
    }

    .button {
        order: 3;
        grid-area: l;
        width: 100%;

        border-radius: 0px 0px 3px 0px;
    }

    .nav_right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav_list_item button {
        padding: 5px 10px 5px 10px;
    }

    .nav_list_item a {
        padding: 5px 10px 5px 10px;
    }
}