/* .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
} */

.productspage {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 18rem));
    gap: 1.5rem;
    justify-content: center;
}